#messageAlert{
  position: fixed;
  height: 50px;
  z-index: 9999;
  right: 0;
  top: 0;
}

.sidebar{
  overflow-y: hidden !important;
}
.dataTables_filter{
  text-align: right;
}

.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

.circleimagem {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}